dl
{
  display: grid;
  grid-template-columns: auto 220px 1fr;
  gap: .25rem .75rem;
  margin: 1rem 0;
}
td
{
  font-weight: 600;
}
dd
{
  margin: 0;
}

button
{
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: .375rem;
  cursor: pointer;
  transition: background-color .3s ease;
}

button:active
{
  transform: translateY(1px);
}
